body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1592px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:310px;
  top:740px;
  width:420px;
  height:297px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u1 {
  position:absolute;
  left:2px;
  top:140px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:310px;
  top:740px;
  width:420px;
  height:297px;
  opacity:0.8;
  font-family:'等线 Regular', '等线';
  font-size:20px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u3 {
  position:absolute;
  left:2px;
  top:86px;
  width:416px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:310px;
  top:740px;
  width:420px;
  height:297px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:310px;
  top:0px;
  width:1280px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
}
#u6 {
  position:absolute;
  left:2px;
  top:27px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:413px;
  top:26px;
  width:52px;
  height:16px;
  font-family:'等线 Regular', '等线';
  font-size:18px;
  color:#C9CABB;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:672px;
  top:26px;
  width:60px;
  height:19px;
  font-family:'等线 Regular', '等线';
  font-size:18px;
  color:#C9CABB;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:899px;
  top:26px;
  width:99px;
  height:19px;
  font-family:'等线 Regular', '等线';
  font-size:18px;
  color:#C9CABB;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1173px;
  top:26px;
  width:49px;
  height:16px;
  font-family:'等线 Regular', '等线';
  font-size:18px;
  color:#C9CABB;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1390px;
  top:26px;
  width:60px;
  height:16px;
  font-family:'等线 Regular', '等线';
  font-size:18px;
  color:#C9CABB;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:310px;
  top:70px;
  width:420px;
  height:297px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u18 {
  position:absolute;
  left:2px;
  top:140px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:310px;
  top:70px;
  width:420px;
  height:297px;
  opacity:0.8;
  font-family:'等线 Regular', '等线';
  font-size:20px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u20 {
  position:absolute;
  left:2px;
  top:96px;
  width:416px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:310px;
  top:70px;
  width:420px;
  height:297px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:740px;
  top:70px;
  width:420px;
  height:297px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u23 {
  position:absolute;
  left:2px;
  top:140px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:740px;
  top:70px;
  width:420px;
  height:297px;
  opacity:0.8;
  font-family:'等线 Regular', '等线';
  font-size:20px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u25 {
  position:absolute;
  left:2px;
  top:86px;
  width:416px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1170px;
  top:70px;
  width:420px;
  height:297px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u27 {
  position:absolute;
  left:2px;
  top:140px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:740px;
  top:70px;
  width:420px;
  height:297px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:1170px;
  top:70px;
  width:420px;
  height:297px;
  opacity:0.8;
  font-family:'等线 Regular', '等线';
  font-size:20px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u30 {
  position:absolute;
  left:2px;
  top:86px;
  width:416px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:312px;
  top:400px;
  width:420px;
  height:297px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u32 {
  position:absolute;
  left:2px;
  top:140px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:742px;
  top:400px;
  width:420px;
  height:297px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u34 {
  position:absolute;
  left:2px;
  top:140px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1172px;
  top:400px;
  width:420px;
  height:297px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u36 {
  position:absolute;
  left:2px;
  top:140px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1172px;
  top:400px;
  width:420px;
  height:297px;
  opacity:0.8;
  font-family:'等线 Regular', '等线';
  font-size:20px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u38 {
  position:absolute;
  left:2px;
  top:86px;
  width:416px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1170px;
  top:70px;
  width:420px;
  height:297px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:742px;
  top:400px;
  width:420px;
  height:297px;
  opacity:0.8;
  font-family:'等线 Regular', '等线';
  font-size:20px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u41 {
  position:absolute;
  left:2px;
  top:86px;
  width:416px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:312px;
  top:400px;
  width:420px;
  height:297px;
  opacity:0.8;
  font-family:'等线 Regular', '等线';
  font-size:20px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:297px;
}
#u43 {
  position:absolute;
  left:2px;
  top:86px;
  width:416px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1172px;
  top:400px;
  width:420px;
  height:297px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:742px;
  top:400px;
  width:420px;
  height:297px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:312px;
  top:400px;
  width:420px;
  height:297px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
