body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:310px;
  top:0px;
  width:1280px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:27px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:413px;
  top:26px;
  width:52px;
  height:16px;
  font-family:'等线 Regular', '等线';
  font-size:18px;
  color:#C9CABB;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:672px;
  top:26px;
  width:60px;
  height:19px;
  font-family:'等线 Regular', '等线';
  font-size:18px;
  color:#C9CABB;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:899px;
  top:26px;
  width:99px;
  height:19px;
  font-family:'等线 Regular', '等线';
  font-size:18px;
  color:#C9CABB;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1173px;
  top:26px;
  width:49px;
  height:16px;
  font-family:'等线 Regular', '等线';
  font-size:18px;
  color:#C9CABB;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1390px;
  top:26px;
  width:60px;
  height:16px;
  font-family:'等线 Regular', '等线';
  font-size:18px;
  color:#C9CABB;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:310px;
  top:67px;
  width:1280px;
  height:900px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:900px;
}
#u13 {
  position:absolute;
  left:2px;
  top:442px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:500px;
  top:140px;
  width:66px;
  height:25px;
  font-family:'等线 Bold', '等线';
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:500px;
  top:190px;
  width:860px;
  height:21px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:21px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:500px;
  top:190px;
  width:440px;
  height:21px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:21px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:500px;
  top:269px;
  width:42px;
  height:25px;
  font-family:'等线 Bold', '等线';
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:500px;
  top:319px;
  width:860px;
  height:21px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:21px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:500px;
  top:319px;
  width:250px;
  height:21px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:21px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:500px;
  top:400px;
  width:118px;
  height:25px;
  font-family:'等线 Bold', '等线';
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:500px;
  top:450px;
  width:860px;
  height:21px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:21px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:500px;
  top:450px;
  width:130px;
  height:21px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:500px;
  top:539px;
  width:28px;
  height:25px;
  font-family:'等线 Bold', '等线';
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:500px;
  top:589px;
  width:860px;
  height:21px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:21px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:500px;
  top:589px;
  width:170px;
  height:21px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:21px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:500px;
  top:668px;
  width:76px;
  height:25px;
  font-family:'等线 Bold', '等线';
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:500px;
  top:718px;
  width:860px;
  height:21px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:21px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:500px;
  top:718px;
  width:20px;
  height:21px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:500px;
  top:799px;
  width:58px;
  height:25px;
  font-family:'等线 Bold', '等线';
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:500px;
  top:849px;
  width:860px;
  height:21px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:21px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:500px;
  top:849px;
  width:10px;
  height:21px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
